body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

/*Legend specific*/

.legend {
  line-height: 18px;
  background: #f7f4f4;
  color: #777;
 
}
.legend h4 {
  text-align: center;
  font-size: 17px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: fixed;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 1;
}
